.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #2b2a2c;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.nav__link:hover:not(.nav__link-btn):after {
    width: 100%;
}

.nav__link-btn {
    transition: background-color 0.2s linear, color 0.2s linear;
}

.nav__link-btn:hover {
    background-color: #2b2a2b;
    color: #fff;
}

.social__link {
    transition: transform 0.2s linear;
}

.social__link:hover {
    transform: translateY(-5px);
}

.btn {
    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
}

.btn:hover {
    background-color: #2b2a2c;
    color: #fff;
    border-color: #2b2a2b;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}

.work {
    transition: box-shadow 0.2s linear;
}

.works__nav-link:hover {
    text-decoration: underline;
}

.work:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.about__photo:before {
    content: '';
    width: 413px;
    height: 413px;
    background-color: #efefef;
    border-radius: 30px;
    position: absolute;
    left: 1rem;
    bottom: 0;
    z-index: 1;
}