/* SPECIFICATION */



*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;                                   
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #2b2a2c;
}

h1,
h2,
h3,
h4,                             
h5,
h6 {
    margin: 0;
}

body.no-scroll {
    overflow: hidden;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}

.mb-0 {
    margin-bottom: 0;
}


/* MODAL */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 42, 44, 0.8);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: scroll;
}

.modal.show {
    display: flex;
}

.modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: #fff;
    transform: rotateY(90deg);
    transition: transform 0.2s linear;
}

.modal__dialog-sm {
    max-width: 900px;
}

.modal__close {
    width: 34px;
    height: 34px;
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;                          
    z-index: 2;                             
    cursor: pointer;
    transition: transform 0.2s linear;
}

.modal__close:hover {
    transform: rotate(90deg);
}

.modal__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #2b2a2c;
    font-weight: 700;

}

.modal__subtitle {
    text-transform: uppercase;
    font-size: 1.06rem;
    color: #2b2a2c;
}


/* HEADER */

.header {
    padding: 1.2rem 0;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
}

.user__avatar {
    width: 57px;
    height: 57px;
}

.user__avatar img {
    border-radius: 50%;
    width: 100%;
}

.user__content {
    padding-left: 9px;
}

.user__name {
    font-size: 1.06rem;
    line-height: 1.2rem;
    color: #2b2a2c;
    font-weight: 700;
    margin-bottom: 3px;
}

.user__prof {
    font-size: 0.8rem;
    color: rgba(43, 42, 44, 0.7);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.nav__link {
    margin-left: 2rem;
    position: relative;
    font-size: 0.93rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
}

.nav__link-btn {
    padding: 0.66rem 2rem;
    border: 2px solid #2b2a2c;
    border-radius: 20px;
}


/* INTRO */

.intro__inner {
    display: flex;
    padding: 6.6rem 0 8rem 0;
    position: relative;
    background: url('../images/symbols.png') right bottom no-repeat;
    border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}

.intro__content {
    width: 50%;
}

.intro__subtitle {
    font-size: 2.13rem;
    font-weight: 200;
    color: #2b2a2c;
}

.intro__title {
    font-size: 3rem;
    color: #2b2a2c;
    font-weight: 700;
    margin-bottom: 5px;
}

.intro__text {
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: rgba(43, 42, 44, 0.7);
}

.social {
    display: flex;
    margin-bottom: 42px;
}

.social__link {
    margin-right: 10px;

}

.social__link img {
    width: 41px;
    height: 41px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.05em 1.7em;
    min-width: 170px;
    border: solid 1px #6a696b;
    border-radius: 1.8em;
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.06rem;
    line-height: 1.1;
    color: #2b2a2c;
    text-transform: uppercase;
    text-align: center;
}

.btn+.btn {
    margin-left: 1rem;
}

.intro__photo {
    position: absolute;
    bottom: 0;
    right: 80px;
    z-index: 1;
}


/* WORKS */

.works {
    margin: 2.8rem 0;
}

.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.works__nav-link {
    margin: 0 1.2rem;
    font-size: 0.8rem;
    color: rgba(43, 42, 44, 0.7);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 2.8rem;            
}

.portfolio__col {
    flex-basis: 33.3%;                 
    padding: 1rem;
}

.work {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.work__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.work__content {
    padding: 1rem 0.8rem;
}

.work__cat {
    font-size: 0.8rem;
    color: #2b2a2c;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.work__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.06rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
}


/* ABOUT ME */

.about {
    margin: 7.5rem 0;
}

.about__inner {
    display: flex;
    max-width: 1090px;
    flex-wrap: wrap;                
}

.about__photo,
.about__content {
    width: 50%;
}

.about__photo {
    position: relative;
}

.about__image {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.about__content {
    padding-left: 3.2rem;
    margin-top: 2rem;
}

.about__title {
    font-size: 3rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
}

.about__bigtitle {
    margin-bottom: 1.4rem;
    position: relative;
    left: -10px;
    font-size: 6.1rem;
    line-height: 1.1;
    color: rgba(43, 42, 44, 0.15);
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    margin-bottom: 2.8em;
    font-size: 1rem;
    color: #6a696b;
    line-height: 1.8;
    font-weight: 300;
}


/* REVIEWS */

.reviews {
    padding: 4.6rem 0;
    position: relative;
    background: #332f30 url('../images/reviews-bg.png') center center no-repeat;
    background-size: cover;
    margin-bottom: 12rem;
}

.reviews__item {
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
}

.reviews__text {
    font-size: 0.94rem;
    color: #fff;
    line-height: 2.2;
    text-align: center;
}

.reviews__author {
    width: 100%;
    text-align: center;
    margin-top: -51px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.reviews__photo {
    display: block;
    margin: 0 auto 0.6rem auto;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    border: 4px solid #efefef;
}

.reviews__name {
    margin-bottom: 0.3rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-weight: 700;
}

.reviews__company {
    margin-bottom: 0.4rem;
    font-size: 0.94rem;
    color: #6a696b;
    font-style: italic;
    font-weight: 300;
}

.reviews__star {
    width: 13px;
    height: 13px;
}

.reviews__star-unactive {
    opacity: 0.3;
}


/* MODAL CONTENT */

.contact {
    display: flex;
}

.contact__left {
    width: 47%;
    padding: 2rem;
}

.contact__right {
    width: 53%;
    background: #2b2a2c url('../images/jack-hire-me.jpeg') center no-repeat;
}

.modal__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #2b2a2c;
    font-family: 700;
    margin-bottom: 3.6rem;
}

.mb-0 {
    margin-bottom: 0;
}

.modal__subtitle {
    text-transform: uppercase;
    font-size: 1.06rem;
    color: #2b2a2c;
}

.contact__info {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none;
    font-size: 0.94rem;
    color: #2b2a2c;
    font-weight: 300;
}

.contact__info-item {
    display: flex;
    margin-bottom: 0.75rem;
}

.contact__info-item:last-child {
    margin-bottom: 0;
}

.contact__info-icon {
    width: 20px;
    margin-right: 0.7rem;
    height: 20px;
}

.form__group {
    margin-bottom: 1.8rem;
}

.form__label {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    color: #2b2a2c;
    font-weight: 700;
}

.form__input,
.form__textarea {
    display: block;
    width: 100%;
    padding: 1.3rem 1.8rem;
    border: 1px solid rgba(112, 122, 112, 0.3);
    border-radius: 1.8rem;
    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #2b2a2c;
    font-weight: 300;
    box-sizing: border-box;
    transition: border-color 0.2s linear;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border-color: #36abc7;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: #2b2a2c;
}

.form__textarea {
    height: 200px;
    resize: none;
}

.modal__content {
    padding: 5rem 1rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn--thin {
    max-width: 145px;
    font-size: 0.8rem;
}

.timeline {
    display: flex;
    margin: 4.2rem auto;
    width: 100%;
    max-width: 768px;
    position: relative;
}

.timeline:before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #2b2a2c;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
}

.timeline__col {
    width: 50%;
}

.timeline__col--left {
    text-align: right;
    padding-right: 3.2rem;
}

.timeline__col--right {
    padding-left: 3.2rem;
}

.timeline__title {
    margin-bottom: 2.6rem;
    margin-top: 2.6rem;
    font-size: 1.2rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
}

.timeline__item {
    margin-bottom: 2.6rem;
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__date {
    display: block;
    margin-bottom: 0.8rem;
    margin-top: 2.6rem;
    text-decoration: underline;
    font-size: 0.94rem;
    color: #2b2a2c;
}

.timeline__subtitle {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-weight: 700;
}

.timeline__position {
    font-size: 0.94rem;
    color: #2b2a2c;
    font-style: italic;
}

.timeline__text {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    color: #6a696b;
    font-weight: 300;
    line-height: 1.5;
}

.progress-bar {
    margin-bottom: 2.6rem;
}

.progress-bar__item {
    display: flex;
    text-align: center;
    margin-bottom: 0.3rem;
}

.progress-bar__title {
    font-size: 0.94rem;
    font-weight: 300;
}

.progress-bar__right {
    padding-left: 1.2rem;
}

.progress-bar__bar {
    width: 130px;
    height: 6px;
    background-color: #efefef;
}

.progress-bar__progress {
    height: 100%;
    background-color: #6a696b;
}

.modal-work {
    display: flex;
}

.modal-work__previews {
    width: 65%;
    position: relative;
    overflow: hidden;
}

.modal-work__content {
    width: 35%;
    position: relative;
    padding: 2.4rem 6.6rem 1rem 1.73rem;
}

.modal-work__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.modal-work__header {
    margin-bottom: 2.2rem;
}

.modal-work__title {
    margin-bottom: 0.2rem;
    font-size: 2.12rem;
    color: #2b2a2c;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-work__info {
    font-size: 1.2rem;
    color: #6a696b;
    text-transform: uppercase;
}

.modal-work__divider {
    margin: 0 1rem;
}

.modal-work__about {
    margin-bottom: 2.2rem;
}

.modal-work__about-title {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-weight: 700;
}

.modal-work__about-movie {
    font-size: 0.94rem;
    font-style: italic;
    color: #6a696b;
}

.modal-work__text {
    margin-bottom: 8.6rem;
    font-size: 0.96rem;
    color: #6a696b;
    line-height: 1.5;
    font-weight: 300;
}

.modal-work__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 1.8rem 1rem;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modal-work__btn {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.94rem;
    color: #2b2a2c;
    text-transform: uppercase;
}


.modal-work__btn:focus {
    outline: none;
    border: 0;
}


/* Slider */

.slick-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 1.4rem;
    left: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 0.5rem;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

.slick-dots button {
    width: 11px;
    height: 11px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: 0;
}